@import url(https://fonts.googleapis.com/css?family=Roboto:300,500,700);


.base {
    margin: auto;
    text-align: center;
    color: white;
}

body {
    background: #282828; /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #601028, #8F1028);
    background: -moz-linear-gradient(left, #601028, #8F1028);
    background: -o-linear-gradient(left, #601028, #8F1028);
    background: linear-gradient(to right, #601028, #8F1028);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    margin: 0;
}

/************* HEADER ***************/

.header {
    background-color: #000000;
    padding: 0;
    height: 60px;
}

.header h1 {
    font-weight: 700;
}

.logo {
    height: 50px;
    vertical-align: middle;
    padding: 5px;
}

/*************** MENU ITEMS **********/

#menu-list {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #000000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 500;
    color: white;
    height: 60px;

}

#menu-list li {
    float: right;
    transition: 0.3s;
    height: 60px;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 18px;
}

#menu-list li:hover {
    cursor: pointer;
}

#menu-list li:hover:not(.menu-active) {
    background-color: #808080;
}

#menu-list .menu-active {
    background-color: white;
    color: black;
    border-radius: 5px 5px 0px 0px;
}

#menu-list li span {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 18px;
    height: 60px;
    transition: 0.3s;
}


/********* LOGIN **************/

.title {
    color: white;
    text-align: center;
    font-size: 24px;
}

.login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #666666;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}

.form button:hover, .form button:active, .form button:focus {
    background: #CF2038;
}

.login-message {
    display: none;
    margin: 25px 0 0 0;
    color: #CF2038;
    font-size: 16px;
}


/********* SIDEBAR **************/


.sidebar {
    width: 225px;
    display: inline-block;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #333333;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 0px;
}

.sidebar .search {
    padding: 15px 0px 15px 15px;
    height: 35px;
    border-bottom: 1px solid #555555;
}

.sidebar .search input[type=text] {
    float: left;
    padding: 6px;
    font-size: 17px;
    width: 140px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.sidebar .search button {
    float: left;
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}

.sidebar .search button:hover {
    background: #ccc;
}


.sidebar ul {
    padding: 0px;
    margin: 0;
}


.sidebar ul li {
    padding: 6px 0px 6px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #CCCCCC;
    background-color: #333333;
    vertical-align: middle;
    display: block;
}

.sidebar > ul > li {
    border-bottom: 1px solid #555555;
    padding: 0px;
}

.sidebar > ul > li:hover {
/ / background-color: #666666;
    cursor: pointer;
}

.sidebar ul ul > li:hover {
    background-color: #888888;
    cursor: pointer;
}

.sidebar .filter-parameter {
    padding: 10px 0px 10px 0px;
    display: block;
}

.sort-placeholder {
    border: 2px dashed gray;
    border-radius: 5px;
    height: 30px;
}

.sidebar-icon-expand {
    padding: 0px 5px 0px 5px;
    width: 25px;
    text-align: center;
}

.sidebar-icon-sort {
    float: right;
    padding-right: 15px;
}

.sidebar ul ul li {
    padding-left: 35px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #404040;
}

.sidebar ul ul li input[type="checkbox"] {
    float: right;
    margin-right: 30px;
}

/********** WORKING PAGE ***********/

.dashboard {
    display: none;
    margin: 0;
    background-color: white;
}


/********** CHART ITEMS ************/

#items-page {
    display: inline-flex;
    flex-wrap: wrap;
    position: absolute;
    top: 60px;
    overflow: auto;
}

.item {
    text-align: center;
    margin: 50px 0px 0px 50px;
    width: 250px;
}

.item-chart-upper {
    width: 250px;
}

.item-chart-lower {
    width: 250px;
    height: 75px;
    margin-top: -30px;
}

.item-chart-title {
    width: 250px;
    font-weight: bold;
}

.item-chart-title:hover {
    cursor: pointer;
    color: #888888;
}

.item-status-value {
}

/************** DIALOG **********************/

#energy-chart-dialog {
    margin: auto;
}

#dialog-confirm {

}

.ui-dialog .ui-dialog-title {
    padding-left: 50px;
    text-align: center;
    width: 100%;
}

/*
.ui-dialog .ui-dialog-buttonpane {
    text-align: center !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none !important;
}
*/
.dialog-position {
    position: relative;
    left: 500px;
}


