<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QNect Config Page</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
    <script src="/static/js/charting.js"></script>
    <script src="/static/js/templates.js"></script>
    <script src="/static/js/utilities.js"></script>
</head>
<body>
<div class="header">
    <img class="logo" src="/static/img/logo.png">
    <ul id="menu-list">

    </ul>
</div>

<div class="login-page">
    <div class="title">
        <h1>QNect</h1>
    </div>
    <div class="form">
        <form class="login-form">
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <button>login</button>
        </form>
        <div class="login-message">Login Failed</div>
    </div>
</div>

<div class="dashboard">
    <div class="sidebar">
        <div class="search">
            <input id="search-input" type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <ul id="filter-list">

        </ul>
    </div>
    <div id="items-page">

    </div>
</div>
<div id="dialog-confirm" title="Energy">
    <div id="energy-chart-dialog"></div>
</div>

</body>
</html>