<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QLoud</title>
    <link rel="shortcut icon" type="image/png" href="/static/img/qlc_favico.png">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
    <script src="/static/js/ajax.js"></script>
    <script src="/static/js/data.js"></script>
    <script src="/static/js/charting.js"></script>
    <script src="/static/js/templates.js"></script>
    <script src="/static/js/utilities.js"></script>
</head>
<body>
<div class="header">
    <img class="logo" src="/static/img/logo.png">
    <ul id="menu-list">

    </ul>
</div>

<div class="login-page">
    <div class="title">
        <h1>QLoud 1.0</h1>
    </div>
    <div class="form">
        <form class="login-form">
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <button>login</button>
        </form>
        <div class="login-message">Login Failed</div>
    </div>
</div>

<div class="dashboard">
    <div class="sidebar">
        <div class="search">
            <input id="search-input" type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <ul id="filter-list">

        </ul>
    </div>
    <div id="items-page">

    </div>
</div>
<div id="dialog-charting">
    <div id="chart-dialog"></div>
</div>

<div id="dialog-settings">
    <form action="#">
        <table>
            <tr>
                <td>
                    <label for="baudrate">Baudrate</label>
                </td>
                <td>
                    <select name="baudrate" id="baudrate">
                        <option>Auto</option>
                        <option>2400</option>
                        <option>4800</option>
                        <option selected="selected">9600</option>
                        <option>19200</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="data">Data</label>
                </td>
                <td>
                    <select name="data" id="data">
                        <option>Auto</option>
                        <option>6</option>
                        <option>7</option>
                        <option selected="selected">8</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="parity">Parity</label>
                </td>
                <td>
                    <select name="parity" id="parity">
                        <option>Auto</option>
                        <option selected="selected">None</option>
                        <option>Odd</option>
                        <option>Even</option>
                        <option>Mark</option>
                        <option>Space</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="stop">Stop</label>
                </td>
                <td>
                    <select name="stop" id="stop">
                        <option>Auto</option>
                        <option selected="selected">1</option>
                        <option>1.5</option>
                        <option>2</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="slave">Slave ID</label>
                </td>
                <td>
                    <input name="slave" type="text" id="slave" placeholder="1"/>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>