<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QNect Config Page</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="/static/js/utilities.js"></script>
</head>
<body>
<div class="header">
    <img class="logo" src="/static/img/logo.png" height="50">
</div>

<div class="login-page">
    <div class="title">
        <h1>QNect</h1>
    </div>
    <div class="form">
        <form class="login-form">
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <button>login</button>
        </form>
    </div>
</div>

<div class="dashboard">

</div>

</body>
</html>